.containerport {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.profile-pic {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    display: block;
    margin: 0 auto 20px;
}

.descriptionmaya {
    text-align: center;
    margin: 20px 500px 250px 500px;
}

@media screen and (max-width: 1600px) {
    .container {
        padding: 10px;
    }
    .descriptionmaya {
       
        margin: 20px 300px 100px 300px;
    }
}
@media screen and (max-width: 1200px) {
    .container {
        padding: 10px;
    }
    .descriptionmaya {
       
        margin: 20px 200px 50px 200px;
    }
}
@media screen and (max-width: 900px) {
    .container {
        padding: 10px;
    }
    .descriptionmaya {
       
        margin: 20px 100px 50px 100px;
    }
}
@media screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }
    .descriptionmaya {
       
        margin: 20px 50px 50px 50px;
    }
}