.containerport {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.profile-pic {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    display: block;
    margin: 0 auto 20px;
}

.profile-description {
    text-align: center;
}

@media screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }
}